{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href="/css/login.css">
{% endblock %}

{% block content %}
<div id="main_container">
    <div class="form_container">
        <div class="form">
			<h1>{{message}}</h1>
  			<h2>{{error.status}}</h2>
  			<pre>{{error.stack}}</pre>
	</div>	
	</div>
</div>
{% endblock %}

{% block script %}
  <script>
    window.onload = () => {
      if (new URL(location.href).searchParams.get('error')) {
        alert('이미 존재하는 이메일입니다.');
      }
    };
  </script>
{% endblock %}