{% extends 'layout.html' %}


{% block head %}
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="imgs/instagram.png">

    <style>

        .b_inner .contents_box{
            float: none;
            display: flex;
            justify-content: center;
        }
    </style>
{% endblock %}


{% block content %}

    <div id="main_container">

        <section class="b_inner">

            <div class="contents_box">

                <article class="contents cont01">
                    <header class="top">
                        <div class="user_container">
                            <div class="profile_img">
                                <img src="imgs/thumb.jpeg" alt="">
                            </div>
                            <div class="user_name">
                                <div class="nick_name">KindTiger</div>
                                <div class="country">Seoul, South Korea</div>
                            </div>
                        </div>
                        <div class="sprite_more_icon"></div>
                    </header>

                    <div class="img_section">
                        <div class="trans_inner">
                            <div><img src="imgs/img_section/img02.jpg" alt=""></div>
                        </div>
                    </div>


                    <div class="bottom_icons">
                        <div class="left_icons">
                            <div class="heart_btn">
                                <div class="sprite_heart_icon_outline" data-name="heartbeat"></div>
                            </div>
                            <div>
                                <div class="sprite_bubble_icon"></div>
                            </div>
                            <div>
                                <div class="sprite_share_icon"></div>
                            </div>
                        </div>

                        <div class="right_icon">
                            <div class="sprite_bookmark_outline"></div>
                        </div>
                    </div>

                    <div class="count_likes">
                        좋아요
                        <span class="count">2,351</span>
                        개
                    </div>

                    <div class="commet_container">

                        <div class="commet">
                            <div class="nick_name">
                                popo213
                            </div>
                            <div>
                                우와...너무 축하해...!!!
                            </div>
                        </div>

                        <div class="small_heart">
                            <div class="sprite_small_heart_icon_outline"></div>
                        </div>

                    </div>

                    <div class="timer">1시간 전</div>

                    <div class="commit_field">
                        <input type="text" placeholder="댓글달기..">

                        <div class="upload_btn">게시</div>
                    </div>


                </article>







            </div>

        </section>
    </div>
{% endblock %}


{% block script %}
  <script>
    window.onload = () => {
      if (new URL(location.href).searchParams.get('error')) {
        alert('이미 존재하는 이메일입니다.');
      }
    };
  </script>
{% endblock %}
