{% extends 'layout.html' %}

{% block head %}
    <!-- Facebook Meta Tags / 페이스북 오픈 그래프 -->
    <meta property="og:url" content="http://kindtiger.dothome.co.kr/insta">
    <meta property="og:type" content="website">
    <meta property="og:title" content="instagram">
    <meta property="og:description" content="instagram clone">
    <meta property="og:image" content="http://kindtiger.dothome.co.kr/insta/imgs/instagram.jpeg">
    .
    <!-- Twitter Meta Tags / 트위터 -->
    <meta name="twitter:card" content="instagram clone">
    <meta name="twitter:title" content="instagram">
    <meta name="twitter:description" content="instagram clone">
    <meta name="twitter:image" content="http://kindtiger.dothome.co.kr/insta/imgs/instagram.jpeg">

    <!-- Google / Search Engine Tags / 구글 검색 엔진 -->
    <meta itemprop="name" content="instagram">
    <meta itemprop="description" content="instagram clone">
    <meta itemprop="image" content="http://kindtiger.dothome.co.kr/insta/imgs/instagram.jpeg">

    <link rel="stylesheet" href="/css/login.css">
    <link rel="shortcut icon" href="imgs/instagram.png">
{% endblock %}

{% block content %}
    <div id="main_container">

        <div class="form_container">

            <div class="form">


                <h1 class="sprite_insta_big_logo title"></h1>

                <form action="/auth/join" method="post">
                    <p class="login_user_name">
                        <label for="user_name">이메일:</label>
                        <input type="text" id="user_name" name="email">
                    </p>
					
					<p class="login_user_name">
                        <label for="user_name">닉네임:</label>
                        <input type="text" id="user_name" name="nick">
                    </p>

                    <p class="login_user_password">
                        <label for="user_password">비밀번호:</label>
                        <input type="text" id="user_password" name="password">
                    </p>
					
					<p class="login_user_password">
                        <label for="user_password">비밀번호 재입력:</label>
                        <input type="text" id="user_password2" name="password2">
                    </p>

                    <input type="submit" id="submit_btn" value="회원가입" class="submit_btn">
                </form>



            </div>

            <div class="bottom_box">
                <div>
                    <span>아이디가 있으신가요?</span><a href="/login">로그인</a>
                </div>
            </div>


        </div>

    </div>
{% endblock %}

{% block script %}
	<script src="js/insta.js"></script>
	<script>
		const btn = document.querySelector('.submit_btn');
		const password = document.querySelector('#user_password');
		const password2 = document.querySelector('#user_password2');
		
		onBtn = () => {
			if(password === password2) {
				
			} else {
				alert('비밀번호가 동일하지 않습니다.');
			}
		}
		
		btn.addEventlistener('click', onBtn);
	</script>

{% endblock %}