<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/style.css">
	{% block head %}
    {% endblock %}
	  
  </head>
  <body>
	<section id="container">
		
		<header id="header">
			<section class="inner">

				<h1 class="logo">
					<a href="/">
						<div class="sprite_insta_icon"></div>
						<div class="sprite_write_logo"></div>
					</a>
				</h1>

				<div class="search_box">
					<input type="text" placeholder="검색" id="search-field">

					<div class="fake_field">
						<span class="sprite_small_search_icon"></span>
						<span>검색</span>
					</div>
				</div>

				<div class="right_icons">
					<a href="/post"><div class="sprite_camera_icon"></div></a>
					<a href="/login"><div class="sprite_compass_icon"></div></a>
					<a href="/follow"><div class="sprite_heart_icon_outline"></div></a>
					<a href="/profile"><div class="sprite_user_icon_outline"></div></a>
				</div>

			</section>
		</header>

    	{% block content %}
    	{% endblock %}
		
	</section> 
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get('loginError')) {
          alert(new URL(location.href).searchParams.get('loginError'));
        }
      };
    </script>
    {% block script %}
    {% endblock %}
  </body>
</html>