{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href="/css/new_post.css">
{% endblock %}

{% block content %}
	<div id="main_container">

			<div class="post_form_container">
				<form action="/post" class="post_form" method="post" enctype="multipart/form-data">
					<div class="title">
						NEW POST
					</div>
					<div class="preview">
						<div class="upload">
							<div class="post_btn">
								<div class="plus_icon">
									<span></span>
									<span></span>
								</div>
								<p>포스트 이미지 추가</p>
								<canvas id="imageCanvas"></canvas>
								<!--<p><img id="img_id" src="#" style="width: 300px; height: 300px; object-fit: cover" alt="thumbnail"></p>-->
							</div>
						</div>
					</div>
					<p>
						<input type="file" name="photo" id="id_photo" multiple="multiple" required="required">
					</p>
					<p>
						<textarea name="content" id="text_field" cols="50" rows="5" placeholder="140자 까지 등록 가능합니다.
	#태그명 을 통해서 검색 태그를 등록할 수 있습니다."></textarea>
					</p>
					<input class="submit_btn" type="submit" value="저장">
				</form>

			</div>

		</div>
	{% endblock %}

	{% block script %}
	<script>		
	let fileInput  = document.querySelector( "#id_photo" );
	let button     = document.querySelector( ".submit_btn" );
    let canvas = document.getElementById('imageCanvas');
    let ctx = canvas.getContext('2d');

	function handleImage(e){
	   let reader = new FileReader();
	   reader.onload = function(event){
		   let img = new Image();
		   // var imgWidth =
		   img.onload = function(){
			   canvas.width = 300;
			   canvas.height = 300;
			   ctx.drawImage(img,0,0,300,300);
		   };
		   img.src = event.target.result;
		   // img.width = img.width*0.5
		   // canvas.height = img.height;
	   };
	   reader.readAsDataURL(e.target.files[0]);
	}
	
    fileInput.addEventListener('change', handleImage, false);
	
	
	button.addEventListener('submit', (e) => {
		const formData = new FormData();
        console.log(this, this.files);
        formData.append('img', this.files[0]);
        axios.post('/post/img', formData)
          .then((res) => {
            document.getElementById('img-url').value = res.data.url;
            document.getElementById('img-preview').src = res.data.url;
            document.getElementById('img-preview').style.display = 'inline';
          })
          .catch((err) => {
            console.error(err);
          });
	})
		
	//탐색기에서 드래그앤 드롭 사용
	fileInput.addEventListener('dragenter', (e) => {
		e.preventDefault();
		e.stopPropagetion();
	}, false)
		
	fileInput.addEventListener('dragover', (e) => {
		e.preventDefault();
		e.stopPropagetion();
	}, false)
		
	fileInput.addEventListener('drop', handleImage, false);
	
	/*
    if (document.getElementById('id_photo')) {
      document.getElementById('id_photo').addEventListener('change', function(e) {
        const formData = new FormData();
        console.log(this, this.files);
        formData.append('img', this.files[0]);
        axios.post('/post/img', formData)
          .then((res) => {
            document.getElementById('img-url').value = res.data.url;
            document.getElementById('img-preview').src = res.data.url;
            document.getElementById('img-preview').style.display = 'inline';
          })
          .catch((err) => {
            console.error(err);
          });
      });
    }
	https://military22.elice.io/courses/26141/lectures/201823
	*/
	</script>
{% endblock %}