{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href="/css/profile.css">
{% endblock %}

{% block content %}
    <div id="main_container">

        <section class="b_inner">

            <div class="hori_cont">
                <div class="profile_wrap">
                    <div class="profile_img">
                        <img src="imgs/thumb.jpeg" alt="착한호랑이">
                    </div>
                </div>

                <div class="detail">
                    <div class="top">
                        <div class="user_name">KindTiger</div>
                        <a href="profile_edit.html" class="profile_edit">프로필편집</a>
                        <a href="/auth/logout" class="logout">로그아웃</a>
                    </div>

                    <ul class="middle">
                        <li>
                            <span>게시물</span>
                            {{twits.length}}
                        </li>
                        <li>
                            <span>팔로워</span>
                            {{user.follower}}
                        </li>
                        <li>
                            <span>팔로우</span>
                            {{user.follow}}
                        </li>
                    </ul>
                    <p class="about">
                        <span class="nick_name">{{user.nick}}</span>
                        <span class="book_mark">bookmark</span>
                    </p>

                </div>
            </div>

            <div class="mylist_contents contents_container active">

                {% for twit in twits %}
				<div class="pic">
                    <a href="/post/{{twit.id}}"><img src="{{twit.img}}" alt=""></a>
                </div>
				{% endfor %}
            </div>
        </section>
    </div>
{% endblock %}

{% block script %}
<script src="js/profile.js"></script>
  <script>
    window.onload = () => {
      if (new URL(location.href).searchParams.get('error')) {
        alert('이미 존재하는 이메일입니다.');
      }
    };
  </script>
{% endblock %}