{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href="/css/profile.css">
	<style>
	#modal.modal-overlay {
		z-index: 999;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background: rgba(255, 255, 255, 0.25);
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.18);
	}
	#modal .modal-window {
		background: rgba( 69, 139, 197, 0.70 );
		box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
		border-radius: 10px;
		border: 1px solid rgba( 255, 255, 255, 0.18 );
		width: 400px;
		height: 500px;
		position: relative;
		top: -100px;
		padding: 10px;
	}
	#modal .title {
		padding-left: 10px;
		display: inline;
		text-shadow: 1px 1px 2px gray;
		color: white;

	}
	#modal .title h2 {
		display: inline;
	}
	#modal .close-area {
		display: inline;
		float: right;
		padding-right: 10px;
		cursor: pointer;
		text-shadow: 1px 1px 2px gray;
		color: white;
	}
	</style>
{% endblock %}

{% block content %}

	<div id="modal" class="modal-overlay">
		<div class="modal-window">
			<div class="title">
				<h2>모달</h2>
			</div>
			<div class="close-area">X</div>
			<div class="content">
				<p>가나다라마바사 아자차카타파하</p>
				<p>가나다라마바사 아자차카타파하</p>
				<p>가나다라마바사 아자차카타파하</p>
				<p>가나다라마바사 아자차카타파하</p>

			</div>
		</div>
	</div>

    <div id="main_container">

        <section class="b_inner">

            <div class="hori_cont">
                <div class="profile_wrap">
                    <div class="profile_img">
                        <img src="imgs/thumb.jpeg" alt="착한호랑이">
                    </div>
                </div>

                <div class="detail">
                    <div class="top">
                        <div class="user_name">{{user.nick}}</div>
						{% if id == user.id%}
                        <a href="/profile" class="profile_edit">프로필편집</a>
                        <a href="/auth/logout" class="logout">로그아웃</a>
						{% endif %}
                    </div>

                    <ul class="middle">
                        <li>
                            <span>게시물</span>
                            {{twits.length}}
                        </li>
                        <li>
                            <span>팔로워</span>
                            {{user.follower.length}}
                        </li>
                        <li>
                            <span>팔로우</span>
                            {{user.follow.length}}
                        </li>
                    </ul>
                    <p class="about">
                        <span class="nick_name">{{user.nick}}</span>
                        <span class="book_mark">bookmark</span>
                    </p>

                </div>
            </div>

            <div class="mylist_contents contents_container active">

                {% for twit in twits %}
				<div class="pic">
                    <a href="/post/{{twit.id}}"><img src="{{twit.img}}" alt=""></a>
                </div>
				{% endfor %}
            </div>
        </section>
    </div>
{% endblock %}

{% block script %}
<script src="js/profile.js"></script>
  <script>
    window.onload = () => {
        const loremIpsum = document.getElementById("lorem-ipsum")
        fetch("https://baconipsum.com/api/?type=all-meat&paras=200&format=html")
            .then(response => response.text())
            .then(result => loremIpsum.innerHTML = result)
    };
  </script>
{% endblock %}