{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href="/css/profile.css">
	<style>
	#modal.modal-overlay {
		z-index: 999;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		display: none;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background: rgba(255, 255, 255, 0.25);
	}
	#modal .modal-window {
		background: white;
		box-shadow: 0 2px 8px 0 rgba( 0, 0, 0, 0.37 );
		border-radius: 10px;
		border: 1px solid rgba(0,0,0,0.1);
		width: 400px;
		height: 500px;
		position: relative;
		top: -100px;
		padding: 10px;
	}
	#modal .header{
		width: 100%;
		height: 30px;
	}
	#modal .title {
		padding-left: 10px;
		display: inline;
		text-shadow: 1px 1px 2px gray;
		color: white;

	}
	#modal .title h2 {
		display: inline;
	}
	#modal .close-area {
		display: inline;
		float: right;
		padding-right: 10px;
		cursor: pointer;
		text-shadow: 1px 1px 2px gray;
		color: white;
	}
	#modal form {
		display: flex;
		flex-direction: column;
        align-items: center;
	}
	</style>
    <link rel="stylesheet" href="/css/login.css">
{% endblock %}

{% block content %}

	<div id="modal" class="modal-overlay">
		<div class="modal-window">
			<div class="header">
				<div class="title">
					<h2>모달</h2>
				</div>
				<div class="close-area">X</div>
			</div>
			<div class="content">
				<div class="form">
					<form action="/profile/{{user.id}}" method="post">
						<div class="profile_wrap">
							<div class="profile_img">
								<canvas id="imageCanvas"></canvas>
							</div>
						</div>
						<input type="file" id="id_photo" multiple="multiple" accept="image/*"><!--여긴 name 주면 안됨!! multer의 unexpect field 뜸 아래서 js로 해주자.-->
						<input id="img-url" type="hidden" name="url" value="{{user.img}}">
						<p class="login_user_name">
							<label for="user_name">닉네임:</label>
							<input type="text" id="user_name" value="{{user.nick}}" name="nick">
						</p>
						<input type="submit" id="submit_btn" value="수정" class="submit_btn">
					</form>
				</div>
			</div>
		</div>
	</div>

    <div id="main_container">

        <section class="b_inner">

            <div class="hori_cont">
                <div class="profile_wrap">
                    <div class="profile_img">
                        <img src="{{user.img}}" alt="착한호랑이">
                    </div>
                </div>

                <div class="detail">
                    <div class="top">
                        <div class="user_name">{{user.nick}}</div>
						{% if id == user.id%}
                        <a href="#" class="profile_edit">프로필편집</a>
                        <a href="/auth/logout" class="logout">로그아웃</a>
						{% endif %}
                    </div>

                    <ul class="middle">
                        <li>
                            <span>게시물</span>
                            {{twits.length}}
                        </li>
                        <li>
                            <span>팔로워</span>
                            {{user.follower.length}}
                        </li>
                        <li>
                            <span>팔로우</span>
                            {{user.follow.length}}
                        </li>
                    </ul>
                    <p class="about">
                        <span class="nick_name">{{user.nick}}</span>
                        <span class="book_mark">bookmark</span>
                    </p>

                </div>
            </div>

            <div class="mylist_contents contents_container active">

                {% for twit in twits %}
				<div class="pic">
                    <a href="/post/{{twit.id}}"><img src="{{twit.img}}" alt=""></a>
                </div>
				{% endfor %}
            </div>
        </section>
    </div>
{% endblock %}

{% block script %}
  <script>
    window.onload = () => {
		
		//모달 창
		const modal = document.querySelector("#modal");
		const update = document.querySelector('.profile_edit');
			
		let fileInput = document.querySelector("#id_photo");
		let canvas = document.querySelector('#imageCanvas');
		let ctx = canvas.getContext('2d');

		let img = new Image();
		img.onload = function(){
			canvas.width = 300;
			canvas.height = 300;
			ctx.drawImage(img,0,0,300,300);
		};
		img.src = document.querySelector('#img-url').value;
		console.log(img.src);
		console.log('hi');
		
		update.addEventListener('click', () => {
			modal.style.display = "flex";

			const handleImage = (e) => {
				const file = e.target.files;
				let reader = new FileReader();
				reader.onload = function(event){
				   var img = new Image();
				   // var imgWidth =
				   img.onload = function(){
					   canvas.width = 300;
					   canvas.height = 300;
					   ctx.drawImage(img,0,0,300,300);
				   };
				   img.src = event.target.result;
				   // img.width = img.width*0.5
				   // canvas.height = img.height;
				};
				reader.readAsDataURL(file[0]);

				const formData = new FormData();
				formData.append('photo', file[0]); //여기서의 photo 이름은 multer의 single("이름")값과 같아야 한다.
				axios.post('/profile/img', formData)
				.then((res) => {
					console.log(res.data.url);
					document.querySelector('#img-url').value = res.data.url;
				})
				.catch((err) => {
					console.error(err);
				})
			}
			fileInput.addEventListener('change', handleImage, false);
		})
		
		const close = document.querySelector(".close-area");
		close.addEventListener('click', () => {
			modal.style.display = "none";
		});
		
    };
  </script>
{% endblock %}