{% extends 'layout.html' %}

{% block content %}
<style>
#exit-btn { position: absolute; top: 20px; right: 20px; }
#chat-list { height: 500px; overflow: auto; padding: 5px; }
#chat-form { text-align: right; }
label[for='gif'], #chat, #chat-form [type='submit'] {
  display: inline-block;
  height: 30px;
  vertical-align: top;
}
label[for='gif'] { cursor: pointer; padding: 5px; }
#gif { display: none; }
table, table th, table td {
  text-align: center;
  border: 1px solid silver;
  border-collapse: collapse;
}
	

</style>

<section id="main_container">
	<div class="inner">

		<div class="contents_box">
			<article class="contents" style="max-width: 999px;">
				<h1>{{title}}</h1>
				<a href="/" id="exit-btn">방 나가기</a>
				<fieldset>
				<legend>채팅 내용</legend>
				<div id="chat-list">
				  {% for chat in chats %}
					{% if chat.userId === user %}
					  <div class="mine" style="color: {{chat.userId}}">
						{% if chat.gif %}}
						  <img src="/gif/{{chat.gif}}">
						{% else %}
						  <div>{{chat.chat}}</div>
						{% endif %}
					  </div>
					{% elif chat.user === 'system' %}
					  <div class="system">
						<div>{{chat.chat}}</div>
					  </div>
					{% else %}
					  <div class="other" style="color: {{chat.user}}">
						<div>{{chat.user}}</div>
						{% if chat.gif %}
						  <img src="/gif/{{chat.gif}}">
						{% else %}
						  <div>{{chat.chat}}</div>
						{% endif %}
					  </div>
					{% endif %}
				  {% endfor %}
				</div>
				</fieldset>
				<form action="/room/{{roomId}}/chat" id="chat-form" method="post" enctype="multipart/form-data">
				<label for="gif">GIF 올리기</label>
				<input type="file" id="gif" name="gif" accept="image/gif">
				<input type="text" id="chat" name="chat">
				<button type="submit">전송</button>
				</form>
			</article>
		</div>
	</div>
</section>
{% endblock %}

{% block script %}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io.connect('https://node-all-in-dm.run.goorm.io/chat', {
      path: '/socket.io',
    });
	  
    socket.on('chat', function (data) {
      const div = document.createElement('div');
	  console.log(data);
      if (data.userId === '{{userId}}') {
        div.classList.add('mine');
      } else {
        div.classList.add('other');
      }
      const name = document.createElement('div');
      name.textContent = data.userNick;
      div.appendChild(name);
      if (data.chat) {
        const chat = document.createElement('div');
        chat.textContent = data.chat;
        div.appendChild(chat);
      } else {
        const gif = document.createElement('img');
        gif.src = '/gif/' + data.gif;
        div.appendChild(gif);
      }
      document.querySelector('#chat-list').appendChild(div);
    });
	  
    document.querySelector('#chat-form').addEventListener('submit', function (e) {
      e.preventDefault();
      if (e.target.chat.value) {
        axios.post('/room/{{roomId}}/chat', {
          chat: this.chat.value,
        })
          .then(() => {
            e.target.chat.value = '';
          })
          .catch((err) => {
            console.error(err);
          });
      }
    });
	  
    document.querySelector('#gif').addEventListener('change', function (e) {
      console.log(e.target.files);
      const formData = new FormData();
      formData.append('gif', e.target.files[0]);
      axios.post('/room/{{roomId}}/gif', formData)
        .then(() => {
          e.target.file = null;
        })
        .catch((err) => {
          console.error(err);
        });
    });
	  
  </script>
{% endblock %}