{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/login.css">
{% endblock %}

{% block content %}

    <section id="main_container">
        <div class="inner">
            <div class="side_box">
                <div class="user_profile">
                    <div class="profile_thumb">
                        <img src="{{user.img}}" alt="프로필사진" onerror="this.src='/img/1.png'">
                    </div>
                    <div class="detail">
                        <div class="id m_text">{{user.nick}}</div>
                        <div class="ko_name">{{user.email}}</div>
                    </div>
                </div>

                <article class="story">
                    <header class="story_header">
                        <div>DM</div>
                        <div class="more">모두 보기</div>
                    </header>

                    <div class="scroll_inner">
                        <div class="thumb_user">
                            <div class="profile_thumb">
                                <img src="imgs/thumb02.jpg" alt="프로필사진" onerror="this.src='/img/1.png'">
                            </div>
                            <div class="detail">
                                <div class="id">kind_tigerrrr</div>
                                <div class="time">1시간 전</div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
{% endblock %}